1. Create and Access List Elements
Create a list containing five different fruits and print the third fruit.

2. Concatenate Two Lists
Create two lists of numbers and concatenate them into a single list.

3. Extract Elements from a List
Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

4. Convert List to Tuple
Create a list of your five favorite movies and convert it into a tuple.

5. Check Element in a List
Given a list of cities, check if "Paris" is in the list and print the result.

6. Duplicate a List Without Using Loops
Create a list of numbers and duplicate it without using loops.

7. Swap First and Last Elements of a List
Given a list of numbers, swap the first and last elements.

8. Slice a Tuple
Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

9. Count Occurrences in a List
Create a list of colors and count how many times "blue" appears in the list.

10. Find the Index of an Element in a Tuple
Given a tuple of animals, find the index of "lion".

11. Merge Two Tuples
Create two tuples of numbers and merge them into a single tuple.

12. Find the Length of a List and Tuple
Given a list and a tuple, find and print their lengths.

13. Convert Tuple to List
Create a tuple of five numbers and convert it into a list.

14. Find Maximum and Minimum in a Tuple
Given a tuple of numbers, find and print the maximum and minimum values.

15. Reverse a Tuple
Create a tuple of words and print it in reverse order.

1. Create and Access List Elements
Create a list containing five different fruits and print the third fruit.

In [1]:
a=("Apple","Orange","Pineapple","Cherry","Peach","Watermelon","Grape")
print(a[2])

Pineapple

2. Concatenate Two Lists
Create two lists of numbers and concatenate them into a single list.

In [ ]:
a=[1,2,3,4,5,6,7]
b=[8,9,10,11,12,13,14,15,16,17,18,19,20]
c=a+b 
a.extend(b)
print (c,a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] [1, 2, 3, 4, 5, 6, 7]

3. Extract Elements from a List
Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

In [ ]:
list=[1,2,3,4,15,6,7,8,9,43,22,33,56,77,88,33,12,24]
length=len(list)
if length%2==0:
    print(f'First elements is {list[0]}')
    print(f'Last element is {list[length-1]}')
    print("There is no real middle element in even lists")
    new_list=[list[0],list[length-1]]
else:
    print(f'First elements is {list[0]}')
    print(f'Last element is {list[length-1]}')
    print(f'Middle elemets is {list[(length-1)//2]}')
    new_list=[list[0],list[length-1],list[(length-1)//2]]

print(new_list)


5. Check Element in a List
Given a list of cities, check if "Paris" is in the list and print the result.

In [42]:

a="Paris"
b=["Asia","America","Paris", "Europe","Sweden","Canada"]
c=b.index(a)
print(f'Yes there is {b[c]} in the list')

Yes there is Paris in the list

6. Duplicate a List Without Using Loops
Create a list of numbers and duplicate it without using loops.

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
a.extend(a)
print(a)

7. Swap First and Last Elements of a List
Given a list of numbers, swap the first and last elements.

In [59]:
a=[1,2,3,4,5,6,7,8,9,10]
b=a.copy()

b[0]=a[len(a)-1]

b[len(a)-1]=a[0]
print(b)

[10, 2, 3, 4, 5, 6, 7, 8, 9, 1]

8. Slice a Tuple
Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

In [63]:
a=(1,2,3,4,5,6,7,8,9,10)
a[2:7]

(3, 4, 5, 6, 7)

9. Count Occurrences in a List
Create a list of colors and count how many times "blue" appears in the list.

In [64]:
colors=["blue","orange","red","purple","violet","blue"]
colors.count("blue")

2

10. Find the Index of an Element in a Tuple
Given a tuple of animals, find the index of "lion".

In [66]:
animal_kingdom=["lion","bear","bear","tiger","lion","lion"]
index= animal_kingdom.index("lion")
index

0

11. Merge Two Tuples
Create two tuples of numbers and merge them into a single tuple.

In [4]:
a=(1,2,3,4,5,6,7,8)
b=(9,10)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

12. Find the Length of a List and Tuple
Given a list and a tuple, find and print their lengths.

In [ ]:
a=(1,2,3,4,5,6,7,8)
b=[9,10]
print(f'List length is {len(b)} and tuple length is {len(a)}')

List length is 8 and tuple length is 2

13. Convert Tuple to List
Create a tuple of five numbers and convert it into a list.

In [20]:
tuple=(2,5,7,4,3)
list=[item for item in tuple]
print(list)

[2, 5, 7, 4, 3]

14. Find Maximum and Minimum in a Tuple
Given a tuple of numbers, find and print the maximum and minimum values.

In [26]:
tuple
a=max(tuple)
b=min(tuple)
print(f'Minimum is {b}, and maximum is {a}')

Minimum is 2, and maximum is 7

15. Reverse a Tuple
Create a tuple of words and print it in reverse order.

In [33]:
tuple_of_words=("Word","Excel","Python","Belissimo")
a=reversed(tuple_of_words)
tuple_of_words[::-1]

('Belissimo', 'Python', 'Excel', 'Word')