R

review Exercises
Create a new database with a table named Roster that has three fields: Name, Species, and Age. The Name and Species columns should be text fields, and the Age column should be an integer field.

In [ ]:
import pandas as pd
Roster= {
'Name':["Alan","Decker","Bony"],
'Species':["Human","Homo Sapiens","an idiot"],
'Age':[12,44,24]




}
print(pd.DataFrame(Roster))


Populate your new table with the following values:

Name	Species	Age
Benjamin Sisko	Human	40
Jadzia Dax	Trill	300
Kira Nerys	Bajoran	29
Update the Name of Jadzia Dax to be Ezri Dax
Display the Name and Age of everyone in the table classified as Bajoran.

In [ ]:
Roster["Name"].append(["Benjamin","Jadzia Dax","Kira Nerys"])
Roster["Species"].append(["Sisko","Trill","Bajoran"])
Roster["Age"].append([40,300,29])

In [ ]:
Roster2= {
'Name':["Benjamin","Jadzia Dax","Kira Nerys"],
'Species':["Sisko","Trill","Bajaron"],
'Age':[40,300,29]




}
r=pd.DataFrame(Roster)
r1=pd.DataFrame(Roster2)

merge= [r, r1]
ROSTER=pd.concat(merge, ignore_index=True)
output=pd.DataFrame(ROSTER)
print(pd.DataFrame(ROSTER))
display(output.loc[(output["Species"]=="Bajaron"),["Name","Age"]])

In [ ]:
output.loc[output["Name"]=="Jadzia Dax","Name"]="Ezri Dax"
print(output)