Modify String with Underscores
Given a string txt, insert an underscore (_) after every third character. If a character is a vowel or already has an underscore after it, shift the underscore placement to the next character. No underscore should be added at the end.

Examples
Input: hello Output: hel_lo

Input: assalom Output: ass_alom

Input: abcabcabcdeabcdefabcdefg Output: abc_abc_abcd_abcd_abcdef

In [242]:
text="abcabcabcdeabcdefabcdefg"
list=[]
text1=""
for i in range(0,len(text)-1):
    list.append(text[i])
    for x in range(0,len(list)-3):
        if (x+1)%3==0:
            list.insert(x,"_")
        else:
            list[x]=list[x]
            
for i in range(0,len(list)):
    text1=text1+list[i]   
print(list)
print(text1)

['a', 'b', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', '_', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f']
ab__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________cabcabcdeabcdefabcdef

In [28]:
a=range(0,len("asd")-1)
a
for i in a:
    print (i)
    print(ftext)

0

1

2. Integer Squares Exercise
Task
The provided code stub reads an integer, n, from STDIN. For all non-negative integers i where 0 <= i < n, print i^2.

Example Input
5
Example Output
0
1
4
9
16
Input Format
The first and only line contains the integer, n.

Constraints
1 <= n <= 20
Output Format
Print n lines, one corresponding to each i^2 where 0 <= i < n.

In [ ]:
def square(n:int):
    if not isinstance(n,int) and n<0:
        raise ValueError("Aint no way")
    else:
        for i in range(1,n+1):
            print(i**2)
a=square(30)
print(a)

3. Loop-Based Exercises
Exercise 1: Print first 10 natural numbers using a while loop
Exercise 2: Print the following pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [15]:
n=1
list=[]
while n<=10:
    list.append(n)
    print(list)
    n+=1

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Exercise 3: Calculate sum of all numbers from 1 to a given number
Example:

Enter number 10
Sum is: 55

In [ ]:

def sum_of_number(number:int):
    num=0
    if not isinstance(number,int) or number<0:
        raise ValueError("Not a number")
    else:
        for i in range(1,number+1):
            num=num+i
    return num


sum_of_number(10)

55

Exercise 4: Print multiplication table of a given number
Example:

2
4
6
8
10
12
14
16
18
20

In [ ]:
def multitable(number:int):
    if not isinstance(number,int) or number<0:
        raise ValueError("Not a number")
    else:
        for i in range(1,10+1):
            print(number*i)
   


multitable(3)

3
6
9
12
15
18
21
24
27
30

Exercise 5: Display numbers from a list using a loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
Expected Output:

75
150
145

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in range(0,len(numbers)):
    print(numbers[i])

Exercise 6: Count the total number of digits in a number
Example:

75869
Output: 5

In [ ]:
def count_num(num:int):
    if not isinstance(num,int):
        raise ValueError("Not really a number")
    else:
        print(len (str(num)))
count_num(123124123123123)

15

Exercise 7: Print reverse number pattern
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
def reverse_uno(num:int):
    stri=""
    if not isinstance(num,int):
        raise ValueError("NOOOOOOO")
    else:
        for i in range(1,num+1):
        
            stri=stri+" "+str(i)
            print(stri[::-1])
reverse_uno(10)

In [ ]:
def reverse_uno(num:int):
    stri=[]
    if not isinstance(num,int):
        raise ValueError("NOOOOOOO")
    else:
        for i in range(1,num+1):
            stri.append(i)
        for i in range(1,num+1):
            print(stri[::-1])
            stri.remove(stri[len(stri)-1])
                     

reverse_uno(10)

Exercise 8: Print list in reverse order using a loop
Given:

list1 = [10, 20, 30, 40, 50]
Expected Output:

50
40
30
20
10

In [99]:
list1 = [10, 20, 30, 40, 50]

list1[::-1]

[50, 40, 30, 20, 10]

Exercise 9: Display numbers from -10 to -1 using a for loop
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [100]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Display message “Done” after successful loop execution
Example:

0
1
2
3
4

In [ ]:
def done(n:int):
    for i in range(0,n+1):
        print(i)
    print("Done!")
done(20)

Exercise 11: Print all prime numbers within a range
Example:

Prime numbers between 25 and 50:
29
31
37
41
43
47

In [ ]:
def prime(beg:int,end:int):
    for i in range (beg,end+1):
        for x in range(2,i):
            ret=False
            if i%x==0:
                ret=True         
                break
            elif x==i-1 and ret==False:
                print(i)
                break

                


            
print(2)
prime(1,100)

Exercise 12: Display Fibonacci series up to 10 terms
Example:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [140]:
t=0
l=[0,1]
while t<15:
    l.append(l[t]+l[t+1])
    t+=1
print(l)
#Perfect

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

Exercise 13: Find the factorial of a given number
Example:

5! = 120

In [ ]:
def factorial(num:int):
    number=1
    if not isinstance(num,int):
        raise ValueError("No good")
    else:
        for i in range (1,num+1):
            number=number*i
        return number

b=factorial(5)
print(b)

120


4. Return Uncommon Elements of Lists
Task
Return the elements that are not common between two lists. The order of elements does not matter.

Examples
Input: list1 = [1, 1, 2], list2 = [2, 3, 4]
Output: [1, 1, 3, 4]

Input: list1 = [1, 2, 3], list2 = [4, 5, 6]
Output: [1, 2, 3, 4, 5, 6]

Input: list1 = [1, 1, 2, 3, 4, 2], list2 = [1, 3, 4, 5]
Output: [2, 2, 5]

In [216]:
list1 = [1, 1, 2, 3, 4, 2] 
list2 = [1, 3, 4, 5]
for x in range(0,len(list2)):
    if list2[x] not in list1:
        list1.append(list2[x])
    else:
        while list2[x] in list1:
            list1.remove(list2[x])

        
        

            
    
print(list1)

[2, 2, 5]

In [201]:
list2

[3, 5]